datasets==3.0.2
Farama_Notifications==0.0.4
fastapi==0.115.12
func_timeout==4.3.5
gymnasium==1.1.1
hilbertcurve==2.0.5
imageio==2.37.0
ipdb==0.13.13
jsonlines==4.0.0
matplotlib
networkx
nltk
numpy
openai
pandas
Pillow
pydantic
pygame
pytest
pytest_mock
Requests
sacrebleu
selenium
setuptools
tiktoken
torch
tqdm
typing_extensions
uvicorn
vllm
vllm-flash-attn